.App {
}

.display {
  color: aqua;
  font-size: calc(10px + 25vmin);
  font-weight: 500;
  padding: 5rem;
}

.btn {
  width: 5rem;
  height: 5rem;
  margin: 10px;
  font-size: calc(10px + 3vmin);;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */